<div class="container">
    <div class="info-card">
        Gib ganze Adresse mit Stiege ein ein. Wenn Adresse nicht Dropdown-Menü erscheint, gibt
        diese Adresse nicht bzw. findet
        sie nicht. Beispiel Adresse: Schüttaustraße 1-39/1. Entweder nach Eingabe auf der Tastatur enter/öffnen drücken
        oder den Button.
    </div>
    <div class="searchbar">
        <span class="inputSpan" matAutocompleteOrigin #origin="matAutocompleteOrigin"
            [class.focusedWithItems]="options.length > 0">
            <i class="material-icons">search</i>
            <input class="inputField" #trigger="matAutocompleteTrigger" [matAutocomplete]="auto" #inputField [matAutocompleteConnectedTo]="origin"
                (input)="updateDropdown($event)" (keydown.enter)="createGoogleMapsLink($event)" value="{{input}}">
        </span>
        <mat-autocomplete #auto="matAutocomplete">
            <div class="divider"></div>
            @for (option of options; track option) {
            <mat-option class="option" [value]="option">{{option}}</mat-option>
            }
        </mat-autocomplete>
    </div>
    <div *ngIf="googleMapsLink" class="info-card">
        <a href="{{googleMapsLink}}">{{googleMapsLink}}</a>
    </div>
</div>